*{
  padding: 0;
  margin: 0;
}
body{
  background-color: whitesmoke;
}
.nav__bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  .logo{
    padding: 0;
    margin: 0;
    img{
      object-fit: contain;
      width: 200px;
    }
  }
  .nav__info{
    display: flex;
    
    .nav__items{
      list-style-type: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      li{
        float: right;
        a{
          display: block;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          color: blue;
          font-size: 20px;
        }
      }
    }
  }
}
main {
  background-color: whitesmoke;
  width: 100%;
  #aspirants{
    display: flex;
    flex-direction: column;
    .upper__column{
      display: flex;
      justify-content: space-around;
      .asp__profile{
        width: 500px;
        background-color: white;
        margin-top: 10px;
        text-align: center;
        img{
          width: 500px;
          height: 333px;
          object-fit: contain;
        }
      }
    }
    .btn{
      display: flex;
      text-align: center;
      justify-content: center;
      .vote{
        padding: 14px;
        font-size: 20px;
        background-color: blue;
        border: none;
        outline: none;
        border-radius: 10px;
        color: white;
      }
    }
  }
  #chartContainer{
    margin:10px ;
  }
}